.mainbox {
  background-color: rgba(95, 158, 160, 0.749);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.58) 0 0 10px 2px;
}

.count {
  color: rgb(44, 16, 221);
}

.btn {
  background-color: rgba(0, 0, 0, 0.178);
  border: 1px solid rgba(255, 255, 255, 0.479);
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.589);
  color: cadetblue;
  font-size: 20px;
  width: 80%;
}

.btn:hover {
  background-color: azure;
  transform: translateY(-5px);
}

.btn:active {
  transform: translateY(2px);
  transition: all 0.2s ease-in-out;
}
